.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.button{
    margin-top: 10px;
    padding: 8px 10px;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid black;
}

.button:hover{
    background-color: #252525;
    color: white;
    border: 1px solid black;
}

#unsuccess {
    margin-top: 30px;
    width: fit-content;
    border: 2px solid red;
    border-radius: 20px;
    padding: 15px;
    color: red;
    display: flex;
    font-size: 20px;
    align-items: center;
}

#unsuccess  >img{
    width: 15px;
    height: 15px;
    margin-right: 10px ;
}