
.section{
    margin: 30px 100px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
  }
  
  .button {
    border-radius: 10px; 
}
  
  .button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color; 
}
  
 .form-control1 {
    display: block;
    width: 40%;
    padding: 5px;
    line-height: 1.5;
    font-size: 15px;
    background-clip: padding-box;
    border: 1px solid black;
    margin: 20px 0;
    border-radius: 20px;
    font-weight: 600;
}

.form-control {
  display: block;
  width: 90%;
  padding: 5px;
  line-height: 1.5;
  font-size: 15px;
  background-clip: padding-box;
  border: 1px solid black;
  margin: 20px 0;
  font-weight: 600;
  border-radius: 20px;
}

.form-control::placeholder, .form-control1::placeholder{
  color: rgb(131, 131, 131);
  font-weight: 100;
}

  
.form-control:hover, .form-control1:hover{
  box-shadow: 0 0 0 4px black;
  color: #212529;
}

  .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff; }
    .btn-primary:hover {
      color: #fff;
      background-color: #0069d9;
      border-color: #0062cc; }
    .btn-primary:focus, .btn-primary.focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }
    .btn-primary.disabled, .btn-primary:disabled {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff; }
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
      color: #fff;
      background-color: #0062cc;
      border-color: #005cbf; }
      .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
      .show > .btn-primary.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); 
    }
 
    #submitting{
      margin: 20px 0px;
      padding: 10px;
      border: 1px solid green;
      border-radius: 10px;
      width: fit-content;
      color: green;
  }

  #unsubmitted{
    margin: 20px 0px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
    width: fit-content;
    color: red;
  }

  .faq{
    margin: 100px;
}

.faq--buttons{
  display: flex;
  gap: 20px;
  margin: 20px 0px;
}

.faq--buttons > button {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.faq--buttons > button:hover{
  background-color: black;
  color: white;
}

.faq--buttons > button > a{
  text-decoration: none;
  color: black;
}

.faq--buttons > button > a:hover{
  color: white;
}