*{
    box-sizing: content-box;
}

.navContainer{
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(159, 159, 159, 0.242);
}

.navTitle{
    cursor: pointer;
}

.loginLabel{
    text-align: center;
}

.navTitle > h1:hover{
    border: 5px solid black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.navPages{
    display: flex;
    align-items: center;
}

.page{
    padding: 8px;
    margin-right: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.page:hover{
    background-color: #252522;
    color: white;
    cursor: pointer;
}

.navLogin {
    cursor: pointer;
    padding: 2px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navLogin:hover {
    cursor: pointer;
}

.loginIcon > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navSearch{
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.navSearch > input{
    padding: 6px 10px;
    font-size: 20px;
    width: 180px;
    border-radius: 10px;

}
.searchIcon{
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 10px;
}

.searchIcon> img{
    width: 30px;
    height: 30px;
}

.toggleIcon > img{
    width: 40px;
    height: 40px;
    display: none;
}

.rightDIV{
    display: flex;
    justify-content: space-between;
    width: 70%;

}

@media screen and (max-width: 1000px ){

    .navPages{
        display: none;
        margin-top: 20px;
        flex-direction: column;
        width: 80%;
    }

    .navPages.active{
        display: flex;
    }

    .page{
        justify-content: center;
    }

    .page:hover{
        background-color:rgba(159, 159, 159, 0.242);
    }

    .navSearch{
        display: none;
    }

    .navSearch.active{
        display: flex;
    }

    .toggleIcon{
        display:flex;
        align-items: center;
    }

    .toggleIcon > img{
        display: flex;
    }

    .leftContainer{
        display: flex;
        justify-content: end;
        gap: 20px;
        width: 20%;
        position: absolute;
        top: .75rem;
        right: 1rem;;
    }

    .navContainer{
        display: flex;
        flex-direction: column;
        padding: 25px;
    }
    
    .navTitle{
        text-align: right;
        align-self: first baseline;
    }

}

@media screen and (max-width : 500px ) {
    h1{
        font-size: 6.5vw;
    }

    .loginIcon > img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .toggleIcon > img{
        width: 30px;
        height: 30px;
    }

    .leftContainer{
        display: flex;
        justify-content: end;
        gap: 10px;
        width: 20%;
        position: absolute;
        top: .50rem;
        right: .5rem;;
    }
}

@media screen and (max-width : 890px) {

    .loginLabel{
        display: none;
    }

    .navContainer{
        padding: 15px;
    }
}